@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --primary-color: #181733;
   --yellow: #fdc52c;
   --black-color: #222222;
   --white-color: #FFFFFF;
   --blue-color: #154284;
   --red-color: #cd122d;
   --gray: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* ---------------------------------------------- */
/*                 GLOBAL STYLES                  */
/* ---------------------------------------------- */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.content-center {
    justify-content: center;
}

.content-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ---------------------------------------------- */
/*                  UPPER-NAVBAR                  */
/* ---------------------------------------------- */

#upper-section {
    background-color: #0a0927;
    color: var(--white-color);
}

#announcement {
    background: linear-gradient(90deg, var(--blue-color), var(--primary-color));
    border-radius: 50px;
    padding: 0.5em 1.5em;
    font-weight: 500;
    font-size: 0.8em;
    cursor: pointer;
}

#announcement span:last-of-type {
    color: var(--yellow);
}

#user-section {
    gap: 1.1em;
    padding: 0.3em 0;
    background: rgb(18, 48, 93);
    background: radial-gradient(circle, rgb(18, 48, 93) 0%, rgba(10,9,39,1) 66%);
}

#user-section * {
    font-size: 0.85em;
}

#user-section button {
    color: var(--white-color);
    height: 25px;
    padding: 1.5em;
    border-radius: 5px;
    font-weight: bold;
}

#user-section button:first-of-type {
    padding: 1.5em 1em;
}

#user-section button:first-of-type:hover {
    text-decoration: underline;
}

#user-section svg {
    fill: var(--white-color);
}

#user-section button span {
    margin-right: 10px;
}

#user-section button:first-of-type span {
    background-color: var(--blue-color);
    border-radius: 100%;
    padding: 0.75em;
}

#user-section button:first-of-type svg {
    height: 16px;
}

#user-section button:last-of-type svg {
    height: 22px;
}

#user-section button:last-of-type {
    background: linear-gradient(90deg, rgb(152, 0, 0), var(--red-color));
}

.user-section-link {
    background-color: var(--gray);
    border-radius: 50%;
    padding: 0.5em;
    height: 35px;
    width: 35px;
    cursor: default;
    transition: background-color 300ms;
}

.user-section-link:last-of-type {
    margin-right: 2em;
    cursor: pointer;
}

.user-section-link:last-of-type svg {
    height: 15px;
    width: 15px;
}

.user-section-link:last-of-type span {
    font-size: 0.4em !important;
}

.user-section-link:hover {
    background-color: var(--red-color);
}


/* ---------------------------------------------- */
/*                  FIRST-NAVBAR                  */
/* ---------------------------------------------- */

#upper-section, #left-nav, #second-nav {
    padding-left: 162px;
}

#first-nav {
    background-color: var(--primary-color);
    border-top: 1px solid var(--gray);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 0.9375rem;
}

#first-nav li {
    padding: 1.3em;
    font-weight: 500;
}

#first-nav li:not(.selected) {
    cursor: pointer;
}

#left-nav {
    position: relative;
}

li.selected {
    position: relative;
}

.selected::after {
    content: '';
    width: 100%;
    height: 6px;
    background-color: var(--yellow);
    position: absolute;
    bottom: 0;
    left: 0;
}

#right-nav ul {
    color: var(--yellow);
    margin-right: 1em;
}

#right-nav li {
    display: flex;
    align-items: center;
}

#right-nav svg:not(#search) {
    margin-right: 0.5em;
    height: 18px;
    width: 18px;
    fill: var(--yellow);
}

#right-nav span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    position: relative;
    transition: background-color 300ms ease;
    cursor: pointer;
}

#right-nav span::before {
    content: '';
    width: 1px;
    height: 28px;
    background-color: var(--gray);
    position: absolute;
    left: 0;
}

#right-nav span:hover {
    background-color: var(--gray);
}

#search {
    height: 30px;
    width: 30px;
}

#logo-link {
    position: absolute;
    left: 0;
    top: -8px;
    padding: 0 40px;
}

#logo {
    height: auto;
    width: 82px;

}

/* ---------------------------------------------- */
/*                  SECOND-NAVBAR                 */
/* ---------------------------------------------- */

#second-nav {
    background: linear-gradient(90deg, var(--red-color), var(--blue-color));
}

#second-nav ul {
    color: var(--white-color);
    font-weight: 200;
    font-size: 0.875rem;
}

#second-nav li {
    margin: 0 1.3em;
    position: relative;
}

#second-nav li a {
    height: 100%;
    display: block;
    line-height: 3.5em;
    transition: box-shadow 200ms ease;
}

#second-nav .selected::after {
    height: 4px;
}

#second-nav li a:not(.selected)::after {
    content: '';
    width: 100%;
    height: 0;
    background-color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 100ms ease-in;
}

#second-nav li:hover a:not(.selected)::after {
    height: 4px;
}

/* ---------------------------------------------- */
/*                  HERO-SECTION                  */
/* ---------------------------------------------- */

#hero-section {
    position: relative;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-section::before {
    content: '';
    background-image: url('img/stripes-left.png');
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    width: 120%;
    height: 100%;
}

#hero-section::after {
    content: '';
    background-image: url('img/stripes-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hero-section h1 {
    color: var(--yellow);
    font-size: 3em;
    text-align: center;
    position: relative;
    z-index: 2;
}

#hero-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: 1;
}

#hero-photo {
    background-image: url('img/supporters.webp');
}

#hero-shadow {
    position: absolute;
    z-index: 4;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color) 0, rgba(24, 23, 51, .45) 70%, rgba(0, 0, 0, 0));
    height: 25%;
    width: 100%;

}